[submodule "vte-sys-rs"]
	path = vte-sys-rs
	url = https://github.com/antoyo/vte-sys-rs
[submodule "gir-files"]
	path = gir-files
	url = https://github.com/gtk-rs/gir-files
[submodule "gir"]
	path = gir
	url = https://github.com/gtk-rs/gir
